body {font:62.5%;width:60%;margin:2em auto 0 auto;background-color:#F7F6F2;} 
h1 {font-family:'Lobster', cursive; text-align:left; font-size:2em;}
ul {list-style-type:none;}
li, section {float:left;}
article {background-image:url(lobster.png); background-repeat:no-repeat; 
background-position:top right;background-color:#ffffff;border:thin solid #D4D5CF;
padding:1em 0 2em 2em;margin-top:.5em;}
button.help {float:right;background:none;border:none;padding-right:40px;}
div.textleft {width:45%;}
button.freebutton {color:#ffffff;margin:.25em, 0, 0, 0;
padding:.25em 1.5em;-moz-border-radius:1em;border-radius:1em;
border:thin solid #580000;}
p {color:#666666;}
nav {overflow:hidden;-moz-border-radius:4px;border-radius:4px;
border:thin solid #580000;}
footer li {width:20%;}
footer li a {color:#9B0000;}
li a {text-decoration:none;}
nav li a {color:#ffffff;font-weight:bold;}
nav li a, p, button.freebutton, footer li a {font-family:Arial,sans-serif;}
nav, button.freebutton, section.quarter-red {
background: -webkit-linear-gradient(#C00, #800); 
background: -o-linear-gradient(#C00, #800); 
background: -moz-linear-gradient(#C00, #800); 
background: linear-gradient(#C00, #800);}
section {border:thin solid #D4D5CF;}
.row1 {padding-top:1em;}
.row2, .row3 {padding-top:2em;}



