body {font:62.5% "Palatino Linotype", Palatino, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia;}
img {border:0;}
.contact-info {float:left;width:22em;text-align:right;*position:relative;*top:2em;*left:1em;}
.contact-info p, .contact-info a {font-size:1.4em;}
.contact-info h1 {font-size:3em;line-height:1.2em;margin-bottom:0;}
.contact-info h2 {font-size:1.6em;margin:.25em 0 0 0;}
.contact-info h1, .contact-info h2 {text-transform:uppercase;}
.contact-info a {text-decoration:none;color:#539E55;}
.contact-info a:hover {text-decoration:underline;color:black;}
.contact-info p {margin:0;}
.main {margin-left:28em;width:64em;}
.main h1 {position:relative;margin-left:-1em;background-color:#AAE2AD;color:white;text-shadow: 0px 1px 2px #bbb;-webkit-box-shadow: 0px 2px 4px #888;-moz-box-shadow: 0px 2px 4px #888;-o-box-shadow: 0px 2px 4px #888;box-shadow: 0px 2px 4px #888;padding:0 0 .15em .5em;margin-top:1em;font-size:2em;*zoom:1;}
.main h1:after {content: ' ';position:absolute;width:0;height:0;left:0px;top:100%;border-width: 5px 10px; border-style: solid; border-color: #666 #666 transparent transparent;}
.main h2 {margin:1.1em 0 .6em 0;font-size:1.6em;}
h2 span {color:#999999;text-transform:uppercase;font-size:.75em;}
ul {list-style:none;padding:0;}
.main p, .main ul {font-size:1.4em;}
.main p {margin:.6em 0;}